header {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: rgba(20, 20, 20, 0.863);
    width: 100%;
    height: 120px;
    border-radius: 70px;
    text-align: start;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 4px 10px 10px rgb(5, 5, 5);
    margin: 0;
    position: absolute;
    top: 61px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.headering {
    font-size: 30px;
    margin-bottom: -30px;
    margin-left: 30px;
    color: white;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
}

.bclass {
    font-size: 30px;
    font-style: italic;
    color: white;
}

body {
    background-color: rgb(27, 27, 27);
}

.time {
    position: relative;
    margin-left: 20%;
    bottom: 77px;
    color: white;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
}

.barimage {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 90%;
    bottom: 200px;
}

.date {
    position: relative;
    margin-left: 50%;
    bottom: 335px;
    color: white;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
}

.dashin1 {
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    position: absolute;
    width: 300px;
    height: 250px;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: auto;
}

.dashin2 {
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    position: absolute;
    width: 300px;
    height: 250px;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.dashin3 {
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    position: absolute;
    width: 300px;
    height: 250px;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.dashval {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    position: relative;
    bottom: 26px;
}

.dashinfo {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dashinfo2 {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.info-note{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 490px;
    font-size: 12px;
    opacity: 0.25;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recentdid {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 1010px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 4px 10px 10px rgb(0, 0, 0);
    border-radius: 40px;
    width: 1000px;
    height: 1000px;
    text-align: center;
}

.recenthead {
    font-size: 40px;
}

.recents {
    font-size: 20px;
}

.role {
    margin: 0;
    position: absolute;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 170px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
}

.data {
    width: 800px;
    height: 500px;
}

.logout {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 48px;
    text-align: center;
    border-radius: 40px;
    background-color: #161616;
    border-color: #ffffff;
    width: 300px;
    height: 32px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}