body {
    background-color: rgb(17, 17, 17);
}

header {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: rgba(20, 20, 20, 0.863);
    width: 100%;
    height: 120px;
    border-radius: 70px;
    text-align: start;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 4px 10px 10px rgb(5, 5, 5);
    margin: 0;
    position: absolute;
    top: 61px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: azure;
}

.headtext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: azure;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    bottom: 9px;
    text-shadow: 4px 4px 4px #000000;
}

.textleft {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 37%;
    color: azure;
    border-color: rgb(70, 70, 70);
    border-style: solid;
    height: 58px;
    width: 260px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-icon {
    position: fixed;
    margin-top: 15px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    border-color: #00000000;
    background-color: rgba(240, 248, 255, 0);
}

.forsale {
    background-color: #1b1b1bee;
    align-self: center;
    width: 80%;
    height: 1000px;
    margin-left: 10%;
}

.saleimage {
    width: 200px;
    height: 200px;
    border-radius: 40px;
}

.saletext {
    margin-left: 340px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #000000;
}

.salesdetail {
    margin-left: 340px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.wow {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.buybutton {
    bottom: -10px;
    position: relative;
    left: 60%;
    -ms-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;
    height: 29px;
    margin-bottom: 100px;
    border-radius: 20px;
    color: white;
}

a {
    color: white;
}

.price {
    background-color: darkred;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    text-align: center;
}


.credit {
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seestaff {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 48px;
    text-align: center;
    border-radius: 40px;
    background-color: #161616;
    border-color: #ffffff;
    width: 300px;
    height: 32px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}