body {
    background-color: rgb(17, 17, 17);
}

header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-icon {
    position: fixed;
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: aliceblue;
}

.text {
    color: white;
}