body {
    background-color: rgb(17, 17, 17);
}

.header {
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    border-color: rgb(70, 70, 70);
    border-style: solid;
    height: 58px;
    width: 200px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 42%;
}

.top-icon {
    position: fixed;
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: aliceblue;
}

.container {
    background-color: #1b1b1bee;
    align-self: center;
    width: 80%;
    height: 1000px;
    margin-left: 10%;
}

.forsale {
    background-color: #1b1b1bee;
    align-self: center;
    width: 80%;
    height: 1000px;
    margin-left: 10%;
}

.saleimage {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 40px;
}

.saletext {
    margin-top: 5%;
    margin-left: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #000000;
}

.salesdetail {
    margin-left: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.lessimportant {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px #000000;
}

.credit {
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}